<!DOCTYPE HTML>
<html>
	<head>
		<title>Ha Tran</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section class="intro">
						<header>
							<h1>Hey there!</h1>
							<p>Welcome to my personal site 😎</p>
							<ul class="actions">
								<li><a href="#first" class="arrow scrolly"><span class="label">Next</span></a></li>
							</ul>
						</header>
						<div class="content">
							<span class="image main"><img src="images/pngegg.png" alt="1" style="width: 75%; height: 75%;"/></span>
						</div>
					</section>

				<!-- Section -->
					<section id="first">
						<header>
							<h2>Basically all about me</h2>
						</header>
						<div class="content">
							<p>
								I am a tech wizard, equipped with <strong>boundless curiosity </strong> and an insatiable thirst for knowledge, ready to conquer new frontiers and dazzle the world with my geeky brilliance.</p>
							<span class="image main"><img src="images/lumos4.png" alt="2" style="width: 50%; height: 50%;" /></span>
							<ul class="actions">
								<li><a href="/about/" class="button primary large">Let's know more</a></li>
							</ul>
						</div>
					</section>

				<!-- Section -->
					<section>
						<header>
							<h2>What I do</h2>
						</header>
						<div class="content">
							<p> My career has been a delightful journey of <strong>exploration and experimentation </strong> as I fearlessly venture into a multitude of endeavors.</p>

							<!-- Section -->
								<section>
									<header>
										<h3>Software Engineer</h3>
										<p>I develop and maintain software applications. Also I analyze user requirements, create technical specifications, write code, perform testing, and ensure the overall quality and functionality of the system.</p>
									</header>
									<div class="content">
											<img src="images/piclumos1.png" alt="3" style="width: 100%; height: 100%;"/>
									</div>
								</section>

							<!-- Section -->
								<section>
									<header>
										<div class="gallery">
											<img src="images/lumos2.png" alt="4" style="width: 110%; height: 110%;"/>
										</div>
									</header>
									<div class="content">
										<h3>Data Engineer</h3>
										<p> I gather and organize data from various sources, clean and validate it.
											<br>By developing data pipelines, extract, transform, and load (ETL) processes, I implement data models to ensure data accuracy, availability, and reliability.⚡</p>
									</div>
								</section>
								
							<!-- Section -->
								<section>
									<header>
										<h3>Data Analyst</h3>
										<p> I  interpret and analyze data to derive meaningful insights and support decision-making processes, apply statistical and analytical techniques to collected data to uncover patterns, trends, and correlations.
											<br> I also create visualizations, dashboards, and reports to present findings and communicate key insights to stakeholders.</p>
									</header>
									<div class="content">
										<div class="gallery">
											<a href="images/lumos3.png" class="portrait"><img src="images/lumos3.png" alt="5" style="width: 120%; height: 100%;" /></a>
										</div>
									</div>
								</section>
								<div class="content">
									<p></p>
									<ul class="actions">
										<li><a href="/portfolio/" class="button large">Check out my portfolio</a></li>
									</ul>
								</div>
						</div>
					</section>

				<!-- Elements -->
			
				<!-- Section -->
					<section>
						<header>
							<h2>Get in touch</h2>
						</header>
						<div class="content">
							<p>Don't hesitate, drop me a line and let's connect!</p>
							
						</div>
						<footer>
							<ul class="items">
								<li>
									<h3>Email</h3>
									<a href="#">trannguyenngocha29@gmail.com</a>
								</li>
								<li>
									<h3>Phone</h3>
									<a href="#">(+84) 777-952-291</a>
								</li>
								<li>
									<h3>Somewhere over the rainbow</h3>
									<ul class="icons">
										<li><a href="https://twitter.com/NaHa011996" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="https://www.facebook.com/siunhangaobienhinh" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
										<li><a href="https://www.instagram.com/_1chiec.nguoi.yeudoi_/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="https://github.com/mushroommeep" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
									</ul>
								</li>
							</ul>
						</footer>
					</section>

				<!-- Copyright -->
					<div class="copyright">&copy; Naha. All rights reserved. <br> Art by Lumos</div>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>